

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.icon {
    fill: currentColor;
    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover,
.icon:focus {
    fill: currentColor;
}


/* Секция */
.section {
    padding: 94px 0;
}


